body {
  background: #F5F5F5;
}
div{
  background: #E1E1E1;
}
h1 {
  display: inline-block;
  background: #ED8F04;
  text-transform: uppercase;
  font-size: 16.3px;
  padding: 10px 10px 9px 9px;
  color: White;
  margin: 0 0 0 2px;
  border: 1px solid #DFDFDD;
  border-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
  }
ul {
  background: White;
  margin: 0;
  padding: 10px 0 14px 2px;
}
li {
  display: inline;
  padding-left: 9px;
}
a {
  color:#403E3C;
  font-size: 16.34px;
  font-family: Arial;
}