body {
  margin: 0 ;
  overflow: hidden;
  
}

.lasanga {
  margin: 0 auto;
  width: 100vh;
  height: 100vh;
}

.lasanga div {
  display: inline-block;
  text-align: center;
  float:left;
  height: 20vh;
  width: 20vh;
}

.lasanga div p {
  margin: 0;
  display: table-cell;
  vertical-align: middle;
  height: 20vh;
  width: 20vh;
  font-size: clamp(1px, 20vh, 25px);
}

.yellow {
  background: #ffcf73;
  color: #6b8fd4;
}
.blue {
  background: #6b8fd4;
  color: #ffcf73;
}
